@use "sass:meta";

  /* Width */
$site-width-min: 85vw;
$site-width-max: 1360px;
$site-width: min($site-width-min, $site-width-max);

  /* Fonts */
$font-fam: 'Roboto', sans-serif;

  /* Font sizes */
$font-size-xs: 0.88rem;
$font-size-sm: 1.125rem;
$font-size-regular: 2rem;
$paragraph-regular-size: 1.13rem;
$paragraph-lg-size: 1.31rem;
$titles-h1-size: 3rem;
$titles-h2-size: 2.5rem;
$titles-h3-size: 1.8rem;

  /* Colors */
$color-bg: #fff;
$color-black: #070707;
$color-white: #fff;
$color-grays-20: #f2f2f2;
$color-grays-60: #757575;
$color-grays-100: #151515;
$color-primary-01: #f59200;

  /* Paddings */
$padding-sm: 0.81rem;
$padding-md: 1.8rem;
$padding-lg: 3rem;
$site-padding: calc((100vw - $site-width) / 2);

  /* Border radiuses */
$border-rad-regular: 9999px;

/*  Media breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-lg-pc: 1920px;

