/* Reset */
*,
::before,
::after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	background: #fff;
	font-size: 100%;
}

body {
	margin: 0;
	font-size: 1rem;
    font-family: 'Roboto', sans-serif;
	color: #070707;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: 1.1;
	padding-bottom: 1.8rem;
}

p {
	font-weight: normal;
	line-height: 1.4;
	padding-bottom: 1.8rem
}

figure {
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover
}

a {
	color: var(--color-black);
	text-decoration: none;
}

input{
    border-radius: 0;
}

ol, ul, dl {
    list-style: none;
}