/** COMPONENTS **/

/* Sections */
section {
  align-items: center;
  justify-content: center;
  padding: var(--padding-md) var(--site-padding);
  min-height: 400px;
}

 /* Buttons */
 .button, button {
  cursor: pointer;
  border: 0;
  color: var(--color-white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primary-01);
  border-radius: var(--border-rad-regular);
  width: fit-content;
  padding: var(--padding-sm) var(--padding-md);
} 

header .button {
  font-size: var(--font-size-xs)
}

#hero .button {
  font-size: var(--font-size-sm)
}

 
 /* Header */
 #site-header {
  height: 4.5rem;
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-sm) var(--site-padding);
  position: sticky;
  top: 0;
  z-index: 99;
}

#site-header .site-logo {
  width: 7.5rem;
}

/** MODULES **/

/* Hero (Text block 01)*/

h1 {
  font-size: var(--titles-h1-size);
  font-weight: normal;
  color: var(--color-black);
}

[class*=hero] .kicker {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-primary-01);
}
 
[class*=hero] p {
  font-size: var(--paragraph-regular-size);
  color: var(--color-black);
}


/* Text block modules */

.text-block h2, 
#site-footer h2 {
  font-size: var(--titles-h2-size);
  font-weight: normal;
}

.text-block {
  --num-cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  gap: var(--padding-md)
}

@media (min-width: 768px) {
  .text-block {
    --num-cols: 2;
    grid-template-areas: 'article image';
  }

  .text-block article {
    grid-area: article
  }

  .text-block img {
    grid-area: image
  }

  .text-block:nth-child(3n) {
    grid-template-areas: 'image article';
  }
}

.text-block li {
  list-style-type: none;
  background: url(./assets/check.svg) top left / 1.2rem no-repeat; /* custom checkmark */
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.text-block li:last-of-type {
  padding-bottom: 0
}


/* Guide module */
#guide-information {
  width: 100%;
  height: 16.81rem;
  text-align: center;
  background-color: var(--color-grays-100);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: unset;
}

dl {
  flex: 1 1 150px;
}

dt {
  font-size: var(--titles-h3-size);
  font-weight: 600;
  color: var(--color-primary-01);
  padding-bottom: var(--padding-sm)
}

dd {
  font-size: var(--font-size-sm);
  color: var(--color-white);
}

/* Employee module */

#employee-module {
    display: grid;
    gap: 1.5rem;
    text-align: center
  }
  
  @media (min-width: 768px) {
    #employee-module {
      grid-template-columns: repeat(2, auto);
    }

    #employee-module h2 {
      grid-column: span 2;
    } 
  }

#employee-module * {
  line-height: 1;
  padding-bottom: var(--padding-sm)
}
  
#employee-module h2 {
  font-size: var(--titles-h2-size);
  font-weight: 400;
  text-align: center;
}

#employee-module h3 {
  font-size: var(--titles-h3-size);
  font-weight: 400;
  padding-top: var(--padding-md)
}

#employee-module article p {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

#employee-module article p:first-of-type{
  color: var(--color-grays-60)
}

#employee-module img {
  height: 400px;
  width: 340px;
  object-fit: cover;
  object-position: center;
}

/* Footer form module */

#site-footer {
  width: 100vw;
  min-height: 600px;
  background-color: var(--color-grays-20);
  padding: 50px 0;
}

#site-footer picture {
  display: none;
}

#site-footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  font-size: var(--font-size-xs)
}

@media (min-width: 768px) {

  #site-footer {
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    padding: 0
  }

  #site-footer form {
    padding: 0 10vw
  }

  #site-footer picture {
    display: flex;
    width: 50vw;
  }

  #site-footer picture img {
    object-position: center;
    object-fit: cover;
  }

  fieldset[name="input-names"] {
    display:flex;
    flex-direction: row;
    gap: var(--padding-sm )
  }
}

input {
  border-radius: 4px;
  border-style: none;
  height: 50px;
  font-size: var(--font-size-sm);
  color: var(--color-grays-60);
  padding-left: var(--padding-sm)
}

input:focus {
  outline: 2px solid var(--color-primary-01)
}

label {
  color: var(--color-grays-60);
  padding: var(--padding-sm) 0;
}

label[name="policy-box"] {
  padding-right: var(--padding-sm)
}

fieldset {
  all:unset;
  width: 100%;
}

fieldset:not([name="input-names"]) {
  display: flex;
  flex-direction: column;
}

fieldset[name="policy-check"] {
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: var(--padding-sm);
  padding-bottom: var(--padding-md)
}
