/* Width */
/* Fonts */
/* Font sizes */
/* Colors */
/* Paddings */
/* Border radiuses */
/*  Media breakpoints */
/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #070707;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 1.8rem;
}

p {
  font-weight: normal;
  line-height: 1.4;
  padding-bottom: 1.8rem;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

input {
  border-radius: 0;
}

ol, ul, dl {
  list-style: none;
}

/* Sections */
section {
  align-items: center;
  justify-content: center;
  padding: 1.8rem calc((100vw - min(85vw, 1360px)) / 2);
  min-height: 400px;
}

/* // Buttons */
.button, button {
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f59200;
  border-radius: 9999px;
  width: fit-content;
  padding: 0.81rem 1.8rem;
}
.button:hover, button:hover {
  color: #f59200;
  background-color: #070707;
}

#site-header .button, footer form .button {
  font-size: 0.88rem;
}

/* // Header */
#site-header {
  height: 4.5rem;
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.81rem calc((100vw - min(85vw, 1360px)) / 2);
  position: sticky;
  top: 0;
  z-index: 99;
}

#site-header .site-logo {
  width: 7.5rem;
}

/** MODULES **/
/* Hero (Text block 01)*/
h1 {
  font-size: 3rem;
  font-weight: normal;
}

[class*=hero] .kicker {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #f59200;
}
[class*=hero] p {
  font-size: 1.13rem;
}

/* Text block modules */
.text-block h2,
#site-footer h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

.text-block {
  --num-cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  gap: 1.8rem;
}
@media (min-width: 768px) {
  .text-block {
    --num-cols: 2;
    grid-template-areas: "article image";
  }
  .text-block article {
    grid-area: article;
  }
  .text-block img {
    grid-area: image;
  }
  .text-block:nth-child(3n) {
    grid-template-areas: "image article";
  }
}
.text-block li {
  list-style-type: none;
  background: url(./assets/check.svg) top left/1.2rem no-repeat; /* custom checkmark */
  padding-left: 2rem;
  padding-bottom: 1rem;
}
.text-block li:last-of-type {
  padding-bottom: 0;
}

/* Guide info module */
#guide-information {
  width: 100%;
  height: 16.81rem;
  text-align: center;
  background-color: #151515;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: unset;
}
#guide-information dl {
  flex: 1 1 150px;
}
#guide-information dl dt {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f59200;
  padding-bottom: 0.81rem;
}
#guide-information dl dd {
  font-size: 1.125rem;
  color: #fff;
}

/* Employee module */
#employee-module {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}
#employee-module * {
  line-height: 1;
  padding-bottom: 0.81rem;
}
#employee-module h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
#employee-module h3 {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 1.8rem;
}
#employee-module article p {
  font-size: 1.125rem;
  font-weight: 400;
}
#employee-module article p:first-of-type {
  color: #757575;
}
#employee-module img {
  height: 400px;
  width: 340px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  #employee-module {
    grid-template-columns: repeat(2, auto);
  }
  #employee-module h2 {
    grid-column: span 2;
  }
}

/* Footer form module */
#site-footer {
  width: 100vw;
  min-height: 600px;
  background-color: #f2f2f2;
  padding: 50px 0;
  overflow: hidden;
}
#site-footer figure {
  display: none;
}
#site-footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 10vw;
  font-size: 0.88rem;
}
@media (min-width: 768px) {
  #site-footer {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  #site-footer figure {
    display: flex;
    width: 50vw;
  }
  #site-footer figure img {
    object-position: center;
    object-fit: cover;
  }
  #site-footer fieldset[name=input-names] {
    display: flex;
    flex-direction: row;
    gap: 0.81rem;
  }
}
@media (min-width: 1920px) {
  #site-footer {
    max-height: 60vh;
  }
}

input {
  border-radius: 4px;
  border-style: none;
  height: 50px;
  font-size: 1.125rem;
  color: #757575;
  padding-left: 0.81rem;
  caret-color: #f59200;
}
input:focus {
  outline: 2px solid #f59200;
}

label {
  color: #757575;
  padding: 0.81rem 0;
}
label[name=policy-box] {
  padding-right: 0.81rem;
}

fieldset {
  all: unset;
  width: 100%;
}
fieldset:not([name=input-names]) {
  display: flex;
  flex-direction: column;
}
fieldset[name=policy-check] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.81rem;
  padding-bottom: 1.8rem;
}
